.index2 {
  height: 100vh;
  background: url(./imgs/index2_1.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 26px;
  .index2_header {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 0 26px;
  }
  .index2_main {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    .index2_main_t {
      max-height: 36px;
      max-width: 197px;
      width: auto;
      height: auto;
      object-fit: contain;
    }
    .index2_main_bt {
      max-height: 12px;
      width: auto;
      height: auto;
      object-fit: contain;
      max-width: 210px;
      margin: 16px 0;
    }
    .index2_main_desc {
      max-width: 310px;
      max-height: 190px;
      height: auto;
      width: auto;
      object-fit: contain;
    }
  }
  .index2_pic_con {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .index2_pic {
    height: auto;
    width: 315px;
  }

  .index2_next {
    margin-bottom: 40px;
  }
}
