.guoniang_home {
  height: 100vh;
  background: url(./imgs/guoniang_home_bg.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 26px;
  .guoniang_home_main {
   margin-top: 30px;
    .guoniang_home_main_logo{
      height: auto;
      width: 205px;
    }
  }
  .guoniang_home_pic_product{
    flex: 1;
    display: flex;
    align-items: flex-end;
    margin-bottom: 5%;
  }
  .guoniang_home_pic{
    height: 332px;
    width: 117px;
  }

  .guoniang_home_next{
    position: absolute;
    bottom: 3vh;
  }
}
