// 头部
.page_header {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 26px;
}

.page_content {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

// 产品首页-底部查看详情
.footer_detail_con {
  position: absolute;
  bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  .footer_card {
    width: 34vw;
    height: 5vh;
  }
}

.flex1{
  flex: 1;
}
