// 头部
.page_header {
  margin-top: 40px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 26px;
}


// 底部查看详情
.footer_detail_con {
  position: absolute;
  bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .footer_card {
    width: 100px;
    height: 25px;
    margin: 0 50px;
  }
}
